<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="LabTwo.Cinema.Properties.Settings.CinemaConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Cinema.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DataSource" value=".\sqlexpress"/>
    <add key="FullPathDbFilename" value="|DataDirectory|\Cinema.mdf"/>
  </appSettings>
</configuration>