div
{
    width: 200px;
    float:left;
    margin: 5px;
    padding: 10px;
    font-size: 10pt;
    background-color: #c3bfbb;
    border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    min-height:120px;
    
}

ul
{
    margin: 0px;
    padding: 3px 3px 3px 10px;
}
li
{
    margin: 0px;
    padding: 0px;
}

li~li
{
    list-style:none;
}
