@model MvcWebProjectNEW.Models.VesenniLetter
@{
    ViewBag.Title = "SendLetter";
}
<h2>
    Ваше письмо было отправлено</h2>
<h3>
    Содержание:</h3>
<table>
    <tr>
        <td>
            @Model.Title
        </td>
    </tr>
    <tr>
        <td>
            @Model.Content
        </td>
    </tr>
</table>
