<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="My.LabWork.Policlinic.Library.Properties.Settings.PoliclinicDBConnectionString"
            connectionString="Data Source=PC-ASSASSIN\SQLSERVERR2;AttachDbFilename=|DataDirectory|\PoliclinicDB.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="My.LabWork.Policlinic.Library.Properties.Settings.PoliclinicDBConnectionString1"
            connectionString="Data Source=PC-Assassin\SQLSERVERR2;Initial Catalog=PoliclinicDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>